* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.news-container {
  background: black;
  width: 100%;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.news-grid {
  display: flex;
  justify-content: space-between;

  width: 75%;
  height: 90%;
}

.secondary-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 50%;
}

.new-item {
  width: 50%;
  padding: 5px;
}

.new-info {
  width: 100%;
  height: 100%;
  position: relative;
}

.new-cover, .new-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.new-cover {
  background: blue;
}

.new-content {
  background: blueviolet;
}

.new-cover:hover {
  opacity: 0;
}
