<div class="container">
    <div class="card-columns">
        <div class="card" style="width: 18rem;" *ngFor="let integrante of integrantes; index as i">
            <img src="/assets/img/testFondo.jpg" class="card-img-top img-fluid" alt="img Fondo">
            <div class="text-center">
                <img src="https://raw.githubusercontent.com/ACMUD/Datos_json/master/App_web/{{img}}" alt="img Persona" class="img-fluid personaImg rounded-circle" height="100px" width="100px">
            </div>
                <div class="card-body">
                <h5 class="card-title">{{integrante.name}} {{integrante.lastName}}</h5>


                <p class="card-text" *ngIf="integrante.infoStudent.levelDegree == 'Pregrado'; else egresado">{{integrante.infoStudent.universityDegree}} Student</p>
                <ng-template #egresado>
                        <p class="card-text">{{integrante.infoStudent.universityDegree}}</p>
                </ng-template>
                <p class="card-text">Cargo en ACM: {{integrante.infoACM.occupation}}</p>
                <p class="card-text">Años en ACM: {{integrante.infoACM.yearsInGroup}}</p>

                <a class="btn btn-primary">Mas informacion (SIN USO)</a>
            </div>
        </div>
    </div>
</div>