<p>integrantes works!</p>
<div class="container">
    <div class="card-columns">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/testFondo.jpg" class="card-img-top img-fluid" alt="img Fondo">
            <div class="text-center">
                <img src="/assets/img/testPersona.jpg" alt="img Persona" class="img-fluid personaImg rounded-circle" height="100px" width="100px">
            </div>
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/testFondo.jpg" class="card-img-top" alt="img Fondo">
            <div class="text-center">
                    <img src="/assets/img/testPersona.jpg" alt="img Persona" class="img-fluid personaImg rounded-circle" height="100px" width="100px">
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/testFondo.jpg" class="card-img-top" alt="img Fondo">
            <div class="text-center">
                    <img src="/assets/img/testPersona.jpg" alt="img Persona" class="img-fluid personaImg rounded-circle" height="100px" width="100px">
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>